
/* customizacja nagłówka */

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #393e58 ;
    color: #FFFFFF;
}

a.navbar-brand:hover, a.navbar-brand:focus {
    background-color: #393e58 ;
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
  color: white; /*Change active text color here*/
}

.navbar-default .navbar-nav > li > a:focus  {
  color: #c9c9c9; /*Change active text color here*/
}

.navbar {
  border-radius: 0px;
  border: 0px;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default {
    background-color: #252839;
}

#navbar {
  margin: 0px;
  padding: 0px;
  width: 100%;
    color:  #FFFFFF!important;
}

#navbar nav { 
  background-color: #16174f;
}

#loginForm {
  margin-top: 50px;
  width: 35%;
  height: 350px;
  background-color: #9ad3de;
}

#loginInputs {
  margin-top: 100px!important;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

#loginFormSignup {
  margin-top: 50px;
  width: 35%;
  height: 520px;
  background-color: #9ad3de;
}

#signupLink {
  padding-top: 5px;
}

.form-group {
  margin-bottom: 10px!important;
}

#signUpGroup, #signInGroup {
  width: 80%;
  margin-top: 5px!important;
  margin-left: auto;
  margin-right: auto;
}

#modalForm {
  margin-top: 50px!important;
  margin-bottom: 50px!important;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

#form { 
   display: none;
   margin-top:50px;
   margin-bottom: 50px;
 }

#alertDodano {
   display: none;
   width: 400px;
   text-align: center;
   margin-top: 20px;
   margin-left: 85px; 
 }

 #js-close-form {
  margin-bottom: 20px!important;
 }

 #shoppingTable {
  padding-top: 10px;
 }

#shoppingForm input {
  width: 400px!important;
 }

 #shoppingForm label {
  width: 150px;
}

#jumbotron h2 {
  padding-left: 20px;
  margin: 10px;
}

#shoppingFilters {
  padding-top: 20px;
}

#searchButton {
  margin-bottom: 10px;
}