<div class="jumbotron" id="jumbotron">
	<h2>Obowiązki</h2>
</div>

<div class="container">

    <div class="container">
        <button class="btn btn-success btn-dodaj" ng-click="slide()">Dodaj nowe zadanie</button>
        <button class="btn btn-success btn-dodaj" ng-click="modalAssign()">Przypisz zadanie</button>
        
        <div class="alert alert-success alert-dismissible" id="alertDodano" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Gatuluję!</strong> Zapisano nowe zadanie! :)
        </div>

        <div class="container" id="form">
            <button id="js-btn-close-form" type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="hide()"><br/>
                <span id="js-close-form" aria-hidden="true">&times;</span>
            </button>

            <form name="myForm" id="dutiesForm">
                <div class="form-group form-inline">
                    <label for="name">Czynności: </label>
                    <input type="text" id="name" class="form-control" ng-model="dutyName">
                </div>
                <button class="btn" ng-click="addDuty()">Zapisz</button>
            </form>
        </div>
    </div>
    <br>
	<div class="container">      
        <uib-tabset active="active" justified="true">
            <uib-tab index="$index" ng-repeat="tab in tabs" heading="{{tab.title}}" ng-init="tabIndex = $index" select="getDuties(okresy[$index].dateStart)">
                <br><h4>{{okresy[tabIndex].str}} {{miesiac}}</h4><br>
                <table class="table table-striped">
                    <tr>
                        <th ng-click="orderByMe('nazwa_zadania')">Zadanie</th>
                        <th ng-click="orderByMe('imie')">Osoba</th>
                        <th ng-click="orderByMe('login')">Login</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="duty in dutiesList | orderBy:myOrderBy track by $index">
                        <td>{{duty.nazwa_zadania}}</td>
                        <td>{{duty.imie}} {{duty.nazwisko}}</td>
                        <td>{{duty.login}}</td>
                        <td><i class="fa fa-trash" aria-hidden="true" ng-click="deleteDuty(duty.id_zadania)"></i></td>
                    </tr>
                </table>
            </uib-tab>
        </uib-tabset>
	</div>
</div>