<div class="jumbotron" id="jumbotron">
	<h2>Obowiązki</h2>
</div>

<div class="container">
	<p></p>

    <div class="container">
        <button class="btn btn-success" ng-click="slide()">Dodaj nowe zadanie</button>    	
        <div class="alert alert-success alert-dismissible" id="alertDodano" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Gatuluję!</strong> Zapisano nowe zadanie! :)
        </div>

        <div class="container" id="form">
            <button id="js-btn-close-form" type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="hide()"><br/>
                <span id="js-close-form" aria-hidden="true">&times;</span>
            </button>

            <form name="myForm" id="dutiesForm">
                <div class="form-group form-inline">
                    <label for="name">Czynności: </label>
                    <input type="text" id="name" class="form-control" ng-model="dutyName">
                </div>
                <button class="btn" ng-click="addDuty()">Zapisz</button>
            </form>
        </div>
    </div>
    <br>
	<div class="container">      
        <uib-tabset active="active" justified="true">
            <uib-tab index="$index" ng-repeat="tab in tabs" heading="{{tab.title}}">
                <br><h4>{{okresy[$index]}} {{miesiac}}</h4><br>
                <table class="table table-hover">
                    <tr>
                        <th>Grupa</th>
                        <th>Nazwa</th>
                    </tr>
                    <tr ng-repeat="x in duties">
                        <td>{{tab.content}}</td>
                        <td>{{x.nazwa}}</td>
                        <td><i class="fa fa-trash" aria-hidden="true" ng-click="deleteCustomer($index)"></i></td>
                    </tr>
                </table>
            </uib-tab>
        </uib-tabset>
	</div>
</div>