@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans|Yrsa');
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* customizacja nagłówka */

.navbar {
  margin-bottom:0;
} 


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #393e58 ;
    color: #FFFFFF;
}

a.navbar-brand:hover, a.navbar-brand:focus {
    background-color: #393e58 ;
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
  color: white; /*Change active text color here*/
}

.navbar-default .navbar-nav > li > a:focus  {
  color: #c9c9c9; /*Change active text color here*/
}

.navbar {
  border-radius: 0px;
  border: 0px;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default {
    background-color: #252839;
}

#navbar {
  margin: 0px;
  padding: 0px;
  width: 100%;
    color:  #FFFFFF!important;
}

#navbar nav { 
  background-color: #16174f;
}

/* JUMBOTRON */

.jumbotron {
   background-image: url(../img/Clouds.jpg);
   height: 250px;
}

#jumbotron h2, #jumbotron h1, #jumbotron h3, #jumbotron h4{
  padding-left: 20px;
  margin: 10px;
  color: #16174f;
  font-family: 'Yrsa';
}


#signupLink {
  padding-top: 5px;
}

.form-group {
  margin-bottom: 10px!important;
}

#signInGroup, #signUpGroup {
  margin-top:5px;
}

#modalForm {
  padding: 40px;
}

#form { 
   display: none;
   margin-top:50px;
   margin-bottom: 50px;
 }

#alertDodano {
   display: none;
   width: 400px;
   text-align: center;
   margin-top: 20px;
   margin-left: 85px; 
 }

 #js-close-form {
  margin-bottom: 20px!important;
 }

 #shoppingTable {
  padding-top: 10px;
 }

#shoppingForm input {
  width: 400px!important;
 }

 #shoppingForm label {
  width: 150px;
}

#shoppingFilters {
  padding-top: 20px;
}

#searchButton {
  margin-bottom: 10px;
}



#loginInputs {
  margin-top: 100px;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.login-form span {
  color: grey;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0px;
  margin-top: 0px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 0px;
}
.form button, #button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #5959AB;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 0px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #252839;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #5959AB;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

#formText {
  margin-bottom: 35px;
  color: grey;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
}
.modal-title {
    margin: 15px auto;
    color: grey;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    text-align: center;
}

#textLower {
  margin-top: 20px;
  margin-bottom: 35px;
  color: grey;
  font-family: 'Open Sans';
  font-size: 15px;
  text-align: justify;

}

.modal-dialog {
  width: 400px;
}

.modal-content {
  max-width: 360px;
  margin: auto;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; 
}

#modalForm input {
  border-radius: 0px;
}

#groupSelect {
  border-radius: 0px!important;
  -webkit-appearance: none;
  width: 100%;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #999999;
}

#groupSelect option, input, select, button {
  border-radius: 0px!important;
  -webkit-border-radius: 0px!important;
}

#selectLoginShopping {
  border-radius: 0px!important;
  -webkit-appearance: none;
  width: 100px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #999999;
}

#buttonJoinGroup {
  background-color: #5959AB;
  border: 0;
  padding: 10px;
}

.panel {
  border-radius: 0px;
    -webkit-border-radius: 0px;
    text-align: center;
    background-color: #16174f;
    color: #FFF;
}

.panel-footer {
   border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #FFF;
    color: #16174f;
}

#shoppingFilters div.form-group {
  padding-right: 5px;
}

.panel h2, .panel h3 {
  font-family: 'Open Sans';
}


#divSuma {
  margin-left: 80px;
  background-color: #4cae4c;
  padding: 7px;
}



