



  <div class="modal-header">
            <h3 class="modal-title" >Dodaj nową grupę</h3>
        </div>
        <div class="modal-body" >
            <div id="modalForm">
				<fieldset>
					<div class="form-group">
						<label for="name">Nazwa:</label>
						<input type="text" id="name" class="form-control"></input>
					</div>
					<div class="form-group">
						<label for="password">Hasło:</label>
						<input type="password" id="password" class="form-control"></input>
					</div>
					<div class="form-group">
						<label for="password">Potwierdz hasło:</label>
						<input type="password" id="name" class="form-control"></input>
					</div>
				</fieldset>
				<input type="submit" value="Dodaj" class="btn btn-primary btn-block" data-ng-disabled="angularForm.$invalid">
			</div>
        </div>
