

<div id="loginPage">
	{{title}}

	<div class="container" id="loginFormSignup">
		<div id="loginLogo">
			<p>Logo</p>
		</div>
		<div id="loginInputs">
			<div>
				<p>Wygląda na to, że nie należysz jeszcze do żadnej grupy. Może założyć nową grupę lub dołączyć do już istniejącej.</p>
			</div>
			<div>
				<button id="signUpGroup" ng-click="modalNew()"  class="btn btn-primary">Załóż grupę</button>
				<button id="signInGroup" ng-click= "modalJoin()" class="btn btn-primary">Dołącz do istniejącej grupy</button>
			</div>
		</div>
	</div>
</div>
