

<div id="loginPage">
	<div class="container" id="loginForm" class="login-page">
		<div id="loginInputs" class="form">
			<form name="myForm" class="login-form">
				<div>
					<p id="formText">Wybór grupy</p>
				</div>
				<div>
					<p id="textLower">Wygląda na to, że nie należysz jeszcze do żadnej grupy. Możesz założyć nową grupę lub dołączyć do już istniejącej.</p>
				</div>
				<div>
					<button id="signUpGroup" ng-click="modalNew()"  class="btn btn-primary">Załóż grupę</button>
					<button id="signInGroup" ng-click= "modalJoin()" class="btn btn-primary">Dołącz do istniejącej grupy</button>
				</div>
			</form>
		</div>
	</div>
</div>
