



<div class="modal-header">
	<p class="modal-title" >Dodaj nową grupę</p>
</div>
<div class="modal-body" >
	<div id="modalForm">
	<form>
		<fieldset>
			<div class="form-group">
				<input type="text" id="name" class="form-control" ng-model="name" placeholder="nazwa grupy"></input>
			</div>
			<div class="form-group">
				<input type="password" id="password" class="form-control" ng-model="password" placeholder="hasło"></input>
			</div>
			<div class="form-group">
				<input type="password" id="name" class="form-control" ng-model="password2" placeholder="hasło"></input>
			</div>
		</fieldset>
	</form>
		<input id="buttonJoinGroup" ng-click="dodajGrupe()" type="submit" value="Dodaj" class="btn btn-primary btn-block" data-ng-disabled="angularForm.$invalid">
	</div>
</div>
