

<div id="navbarPage">
	<div class="container" id="navbar">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" ui-sref="home">WebSiteName</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a ui-sref="home">Home</a></li>
		      <li><a ui-sref="money">Tableka</a></li>
		      <li><a ui-sref="login">Login</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		    	<li><a ng-model="username">Użytkownik: {{username}}</a></li>
		    	<li><a id="logout" ui-sref="logout">Wyloguj</a></li>
		    </ul>
		  </div>
		</nav>
	</div>
</div>