

<div id="loginPage">
	<div class="container" id="loginFormSignup" class="login-page">
		<div id="loginInputs" class="form" class="register-form">
			<div>
				<p id="formText">Rejestracja</p>
			</div>
			<form name="myForm">
				<div class="form-group">
					<input type="text" name="name" class="form-control" ng-model="name" placeholder="imię" required></input>
					<span style="color:grey; font-size:10px;" ng-show="myForm.name.$dirty && myForm.name.$invalid"">
						<span ng-show="myForm.name.$error.required">Wprowadź imię.</span>
					</span>
				</div>
				<div class="form-group">
					<input type="text" name="surname" class="form-control" ng-model="surname" placeholder="nazwisko" required></input>
					<span style="color:grey; font-size:10px;" ng-show="myForm.surname.$dirty && myForm.surname.$invalid">
						<span ng-show="myForm.surname.$error.required">Wprowadź nazwisko.</span>
					</span>
				</div>
				<div class="form-group">
					<input type="email" name="email" class="form-control" ng-model="email" placeholder="email" required>
					<span style="color:grey; font-size:10px;" ng-show="myForm.email.$dirty && myForm.email.$invalid">
						<span ng-show="myForm.email.$error.required">Wprowadź adres email.</span>
						<span ng-show="myForm.email.$error.email">Błądny adres email.</span>
					</span>
				</div>
				<div class="form-group">
					<input type="text" name="login" class="form-control" ng-model="login" ng-minlength=5 placeholder="login" required></input>
					<span style="color:grey; font-size:10px;" ng-show="myForm.login.$dirty && myForm.login.$invalid">
						<span ng-show="myForm.login.$error.minlength">Login musi posiadać co najmniej 5 znaków</span>
						<span ng-show="myForm.login.$error.required">Wprowadź login.</span>
					</span>
				</div>
				<div class="form-group">
					<input type="password" name="password" class="form-control" ng-model="password" ng-minlength=5 placeholder="hasło" required></input>
					<span style="color:grey; font-size:10px;" ng-show="myForm.password.$dirty && myForm.password.$invalid">
						<span ng-show="myForm.password.$error.minlength">Hasło musi posiadać co najmniej 5 znaków</span>
						<span ng-show="myForm.password.$error.required">Wprowadź hasło.</span>
					</span>
				</div>
				<input id="button" ng-click="dodajUzytkownika()" type="submit" value="Dodaj" class="btn btn-primary btn-block" ng-disabled="(name && login && email && surname && password) ?  false : true">
			</form>
		</div>
	</div>
</div>