

<div id="navbarPage">
    <div class="container" id="navbar">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="home">Zarządzanie finansami</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a ui-sref="money">Zakupy</a></li>
                    <li><a ui-sref="duties">Obowiązki</a></li>
                    <li><a ui-sref="#">Koszty wspólne</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-model="groupName">Grupa: {{groupName}}</a></li>
                    <li><a ng-model="username">Użytkownik: {{username}}</a></li>
                    <li><a id="logout" ng-click="logout()">Wyloguj</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>