    <div class="jumbotron" id="jumbotron">
    	<h2>Zakupy!</h2>
    </div>
    <div class="container">
    	<div class="container">
    		<button class="btn btn-success btn-dodaj" ng-click="slide()">Dodaj zakupy do listy</button>    	
            <div class="alert alert-success alert-dismissible" id="alertDodano" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Gatuluję!</strong> Zapisano nowe zakupy! :)
            </div>

            <div class="container" id="form">
                <button id="js-btn-close-form" type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="hide()"><br/>
                    <span id="js-close-form" aria-hidden="true">&times;</span>
                </button>

                <form name="myForm" id="shoppingForm">
                    <div class="form-group form-inline">
                        <label for="name">Produkt:</label>
                        <input type="text" id="name" class="form-control" ng-model="shoppingProduct">
                    </div>
                    <div class="form-group form-inline">
                        <label for="suranme">Cena: </label>
                        <input type="text" id="surname" class="form-control" ng-model="shoppingPrice">
                    </div>
                    <div class="form-group form-inline">
                        <label for="date">Data: </label>
                        <input type="date" id="data" class="form-control" ng-model="shoppingDate"></input>
                    </div>
                    <button class="btn" ng-click="addShopping()">Zapisz</button>
                </form>
            </div>
        </div>

        <div class="container" id="shoppingFilters">
            <form class="form-inline">
                <div class="form-group ">
                    <label for="dateFrom">Data od:</label>
                    <input type="date" id="dateFrom" class="form-control" ng-model="shoppingDateFrom">
                </div>
                <div class="form-group">
                    <label for="dateTo">Data do:</label>
                    <input type="date" id="dateTo" class="form-control" ng-model="shoppingDateTo">
                </div>
                <div class="form-group">
                    <label for="shoppingLogin">Użytkownik:</label>
                     <select ng-model="selectedLogin" id="selectLoginShopping">  
                        <option value="" selected disabled>wybierz</option>
                        <option ng-repeat="x in loginsArray" value="{{x.login}}">{{x.login}}</option>
                     </select>
                </div>
                <button id="searchButton" class="btn" ng-click="searchShopping()">Pokaż</button>
            </form>
        </div>

    	<div class="container" id="shoppingTable">
    		<table class="table table-striped">
    			<tr>
                    <th ng-hide="true" ng-click="orderByMe('id_zakupu')">Id zakupu</th>
    				<th ng-hide="true" ng-click="orderByMe('id_uzytkownika')">Id użytkownika</th>
    				<th ng-hide="true" ng-click="orderByMe('id_grupy')">Id grupy</th>
    				<th ng-click="orderByMe('login')">Login</th>
    				<th ng-hide="true" ng-click="orderByMe('nazwa_grupy')">Grupa</th>
    				<th ng-click="orderByMe('nazwa')">Produkt</th>
    				<th ng-click="orderByMe('koszt')">Cena</th>
    				<th ng-click="orderByMe('data_zakupu')">Data</th>
                    <th></th>
    			</tr>
    			<tr ng-repeat="x in zakupy | orderBy:myOrderBy track by $index">
    				<td ng-hide="true">{{x.id_zakupu}}</td>
                    <td ng-hide="true" >{{x.id_uzytkownika}}</td>
    				<td ng-hide="true" >{{x.id_grupy}}</td>
    				<td>{{x.login}}</td>
    				<td ng-hide="true" >{{x.nazwa_grupy}}</td>
    				<td>{{x.nazwa}}</td>
    				<td>{{x.koszt | currency : "zł" : 2}}</td>
    				<td>{{x.data_zakupu}}</td>
    				<td><i class="fa fa-trash" aria-hidden="true" ng-click="deleteShopping(x.id_zakupu,$index)"></i></td>
    			</tr>
                <tr>
                    <th></th>
    				<th>SUMA:</th>
    				<th>{{ suma | currency : "zł" : 2 }}</th>
    				<th></th>
    				<th></th>
                </tr>
                <tr>
                    <th></th>
    				<th>ŚREDNIA WYDATKÓW:</th>
    				<th>{{ srednia | currency : "zł" : 2 }}</th>
    				<th></th>
    				<th></th>
                </tr>
    		</table>
    	</div>
    </div>